$fa-font-path: '../node_modules/font-awesome/fonts';

/* Colors */

$primaryCol: #263238;
$accentCol: #29b6f6;
$errorCol: #f44336;
$successCol: #8bc34a;
$whiteCol: #ffffffde;
$light-grayCol: #eeeeee;
$lighter-grayCol: #fafafa;
$grayCol: #8d8d8d;
$light-blueCol: #3baeda;
$yellowCol: #ffeb3b;

/* Font sizes */

$font-xsmall: 12px;
$font-small: 14px;
$font-regular: 16px;
$font-large: 24px;
$font-xlarge: 32px;
$font-xxlarge: 48px;

/* Font weights */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
