/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  background-color: $lighter-grayCol;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
//
//.container-fluid,
//.container {
//  padding-right: 2rem;
//  padding-left: 2rem;
//}

.container-fluid {
  max-width: 1400px;
}

.center {
  text-align: center;
}


/* Colors */

.errorCol {
  color: $errorCol;
}


/* MATERIAL OVERRIDES */


/* MatSnackbar */

.mat-snack-bar-container.success {
  background-color: $successCol;
  color: $whiteCol;
}

.mat-snack-bar-container.danger {
  background-color: $errorCol;
  color: $whiteCol;
}

.mat-simple-snackbar-action {
  color: $whiteCol;
}
